
body{
    background-color: #f4f4f4;
}.space{
    padding-right: 20px;
    color: aliceblue;
}
.space1{
    color: aliceblue;
}
.space:hover{
    color: aqua;
    text-decoration: none;
}
.space1:hover{
    color: aqua;
    text-decoration: none;
}
#header{
    background-color:#333333;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 10px;
  margin-bottom: 15px;
}
.badge-p{
    float: right;
}
.high{
    background-color: #333333;
    color: aliceblue;
}
.dash-box{
    float: left;
}

